<!-- templates/index.html -->
{% extends 'country/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1>Información</h1>
        <hr><br>
        
         <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/country">Country app</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="btn btn-outline-info btn-md" href="{% url "region_new" %}">+ Region</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-info btn-md" href="{% url "township_new" %}">+ Municipio</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      </div>
    </div>
  </div>
{% endblock content %}