{% extends 'country/base.html' %}

{% block content %}
<div class="container">
   <h1 class="my-4">Home -
        <small>Region List</small>
    </h1>
    <div class="row">
    {% if object_list %}
        <div class="col-12" style="overflow-x: scroll">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Code</th>
                    <th scope="col">View</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for region in object_list %}
                <tr>
                    <td>{{ region.code }}</td>
                    <td>{{ region.name }}</td>
                    <td><a href="{% url "region_view" region.id %}"><button type="button" class="btn btn-outline-primary btn-sm">View</button></a></td>
                    <td><a href="{% url "region_edit" region.id %}"><button type="button" class="btn btn-outline-secondary btn-sm">Edit</button></a></td>
                    <td><a href="{% url "region_delete" region.id %}"><button type="button" class="btn btn-outline-danger btn-sm">Delete</button></a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    {% else %}
    <div class="col-12">
        <div class="alert alert-warning" role="alert">
            There is no book, yet. But if you want, you can add from <a class="badge badge-info" href="{% url "region_new" %}"><strong>here.</strong></a>
        </div>
    </div>
    {% endif %}
    </div>
{% endblock content %}