{% extends 'country/base.html' %}

{% block content %}
    <h1 class="my-4">Eliminar -
        <small>{{ object }}</small>
    </h1>
    <div class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                <div class="alert alert-warning" role="alert">
                  ¿Estás seguro de eliminar? {{ object }} ?
                </div>
                <input type="submit" class="btn btn-info" value="Yes, delete it" />
                <a class="btn btn-success" href="{% url 'region_list' %}">No</a>
            </form>
        </div>
    </div>
{% endblock %}