{% extends 'country/base.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4">Detail -
        <small>{{ object.name }}</small>
    </h1>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item"><strong>Codigo:</strong> {{ object.code }}</li>
                <li class="list-group-item"><strong>Nombre:</strong> {{ object.name }}</li>
                <li class="list-group-item"><strong>Region:</strong> {% for region  in object.regions.all  %}  <ol>{{ region  }}</ol>  {% endfor %} </li>
                <li class="list-group-item"><strong>Estado:</strong> {% if object.status %} Activo {% else %} Inactivo  {% endif %} </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}