{% extends 'country/base.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4">Home -
        <small>Municipio List</small>


    </h1>
    <div class="row">
        {% if object_list %}
        <div class="col-12" style="overflow-x: scroll">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Region</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Ver</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for township in object_list %}
                    <tr>
                        <td>{{ township.code }}</td>
                        <td>{{ township.name }}</td>
                        <td>
                            {% for region  in township.regions.all  %}
                            <li>{{ region  }}</li>
                            {% endfor %}
                        </td>
                        {% if township.status %}
                        <td> Activo </td>
                        {% else %}
                        <td> Inactivo </td>
                        {% endif %}
                        <td><a href="{% url "township_view" township.id %}"><button type="button"
                                    class="btn btn-outline-primary btn-sm">View</button></a></td>
                        <td><a href="{% url "township_edit" township.id %}"><button type="button"
                                    class="btn btn-outline-secondary btn-sm">Edit</button></a></td>
                        <td><a href="{% url "township_delete" township.id %}"><button type="button"
                                    class="btn btn-outline-danger btn-sm">Delete</button></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="col-12">
            <div class="alert alert-warning" role="alert">
                There is no book, yet. But if you want, you can add from <a class="badge badge-info"
                    href="{% url "township_new" %}"><strong>here.</strong></a>
            </div>
        </div>
        {% endif %}
    </div>
    {% endblock content %}