
{% extends 'country/base.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4">{% if request.path == '/country/township/new' %} Agregar Municipio {% else %} Edit - {% endif %}
        {% if request.path != '/country/township/new' %}<small>{{ township.name }}</small>{% endif %}
    </h1>
    <div class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                <input type="submit" {% if request.path == '/country/township/new' %} value="Agregar" {% else %} value="Actualizar" {% endif %} class="btn btn-success"/>
            </form>
        </div>
    </div>
</div>
   
{% endblock %}